[class*="col-"]{
    float: left;
}
.col-12{
    // background-color: rgb(43, 151, 151);
    background-image: linear-gradient(120deg, #cacfd4, rgb(105, 179, 204));
    text-align: center;
    padding: 40px 20px;
    // color: rgb(50, 23, 23);
    color: white;
}
.data{
    margin-bottom: 20px;
}
.data p{
    font-size: 18px;
    text-align: left;
    font-weight: 800;
    padding-left: 25px;
}
.data td{
    font-size: 18px;
    font-weight: 700;
}
.data .productImg{
    width: 250px;
    height: 200px;
    margin: 20px 0px;
}
.card{
    padding: 10px;
    width: 100%;
    background: none;
    box-shadow: inset 0px -4px 10px white;
}
.componentTitle{
    text-align: center;
}

input[type="text"]{
    width: 40%;
    margin: 10px 30%;
}

.categoryDiv{
    margin-top: 40px;
}

.staticProducts{
    margin-top: 100px;
}
.productDiv{
    padding: 5px;
    background: none;
}
.productDiv p{
    line-height: 15px;
    text-align: center;
    font-weight: 600;
}
.priceText{
    color: red;
}
.productImg{
    width: 100%;
    height: 250px;
    margin: 20px 0px;
}
.btn-Add-Cart-Div{
    padding: 5px 25px;
}
.btnCart{
    margin-top: 20px;
    width: auto;
}
.bagIconWhite{
    color: white;
    margin-left: 5px;
}
.bagIconBlack{
    color: black;
    margin-left: 5px;
}
.btn-dark{
    margin-left: 10px;
}
.btn-danger{
    margin-bottom: 25px;
}