<div class="col-12 globalDiv">
    <p class="componentTitle">products works!</p>

    <div class="col-12" >
        <!-- show productlist data in table -->
        <!-- <table class="col-12">
            <tr>
                <th>photo</th>
                <th>name</th>
                <th>price</th>
                <th>quantitiy</th>
                <th>buy</th>
            </tr>
            <tr class="data" *ngFor="let item of ProductList; let i=index" >
                <td *ngIf="!checkBuy && item.quantity !=0" [ngStyle]="(item.quantity ==1) ? checkQuantity :''"><img [src]="item.img" alt="image" class="productImg"></td>
                <td *ngIf="!checkBuy && item.quantity !=0" [ngStyle]="(item.quantity ==1) ? checkQuantity :''">{{item.name}}</td>
                <td *ngIf="!checkBuy && item.quantity !=0" [ngStyle]="(item.quantity ==1) ? checkQuantity :''">{{item.price}}</td>
                <td *ngIf="!checkBuy && item.quantity !=0" [ngStyle]="(item.quantity ==1) ? checkQuantity :''">{{item.quantity}}</td>
                <td *ngIf="!checkBuy && item.quantity !=0" [ngStyle]="(item.quantity ==1) ? checkQuantity :''">
                    <button class="btn btn-info" (click)="buy()">buy</button>
                    <button class="btn btn-dark" (click)="decrease(i)">decrease</button>
                </td>
            </tr>
        </table> -->


        <!-- show enum data  -->
        <div class="col-12" *ngIf="!checkBuy">
            <h4 class=" text-center alert text-dark bg-warning"> show enum data </h4>
            <h1> {{store.name}} </h1>
            <img [src]="store.logo" alt="logo" width="150px">
            <h3 *ngIf="discount.value1 !='No discount'">“We offer an explicit discount of : ” {{discount.value1}}</h3>
            <h3>“We offer an explicit discount of : ” {{discount.value2}}</h3>
            <h3>“We offer an explicit discount of : ” {{discount.value3}}</h3>
            <button class="btn btn-info" (click)="buy()">buy</button>
        </div>
        <h3 class="alert alert-dark bg-dark col-12" *ngIf="checkBuy">“Thanks for purchasing from our Store” {{ClientName}} </h3>
    </div>

    
</div>