[class*="col-"]{
    float: left;
}
.col-12{
    padding: 50px 0%;
    width: 100%;
    // background-color: rgb(43, 151, 151);
    background-image: linear-gradient(120deg, #eaf0f7, rgb(119, 184, 206));
}