<!-- get data  -->
<div class="col-12">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">img</th>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">quantity</th>
            <th scope="col">price</th>
            <th scope="col">categoryID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of products">
            <td scope="col"><img src="{{item.img}}" alt="img" width="170px" height="140px"></td>
            <td scope="col" style="padding-top:65px">{{item.id}}</td>
            <td scope="col" style="padding-top:65px">{{item.name}}</td>
            <td scope="col" style="padding-top:65px">{{item.quantity}}</td>
            <td scope="col" style="padding-top:65px">{{item.price! | currency }}</td>
            <td scope="col" style="padding-top:65px">{{item.CategoryID}}</td>
          </tr>
        </tbody>
      </table>
</div>


<!-- get data by category -->
<div class="col-12">
    <div class="col-sm-4">
        <p>Enter category : </p>
    </div>
    <div class="col-sm-4">
        <input type="text" class="form-control" (input)="setCategory($event)">
    </div>
</div>
<div class="col-12" *ngIf="checkCateg">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">img</th>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">quantity</th>
            <th scope="col">price</th>
            <th scope="col">categoryID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of categorys">
            <td scope="col"><img src="{{item.img}}" alt="img" width="170px" height="140px"></td>
            <td scope="col" style="padding-top:65px">{{item.id}}</td>
            <td scope="col" style="padding-top:65px">{{item.name}}</td>
            <td scope="col" style="padding-top:65px">{{item.quantity}}</td>
            <td scope="col" style="padding-top:65px">{{item.price! | currency}}</td>
            <td scope="col" style="padding-top:65px">{{item.CategoryID}}</td>
          </tr>
        </tbody>
      </table>
</div>



<!-- get data by id -->
<div class="col-12">
    <div class="col-sm-4">
        <p>Enter ID : </p>
    </div>
    <div class="col-sm-4">
        <input type="text" class="form-control" (input)="setID($event)">
    </div>
</div>

<div class="col-12" *ngIf="checkID">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">img</th>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">quantity</th>
            <th scope="col">price</th>
            <th scope="col">categoryID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of product">
            <td scope="col"><img src="{{item.img}}" alt="img" width="170px" height="140px"></td>
            <td scope="col" style="padding-top:65px">{{item.id}}</td>
            <td scope="col" style="padding-top:65px">{{item.name}}</td>
            <td scope="col" style="padding-top:65px">{{item.quantity}}</td>
            <td scope="col" style="padding-top:65px">{{item.price}}</td>
            <td scope="col" style="padding-top:65px">{{item.CategoryID}}</td>
          </tr>
        </tbody>
      </table>
</div>
