[class*="col-"]{
    float: left;
    margin-bottom: 5px;
}
.col-12{
    padding: 40px;
    padding-bottom: 0px;
}
p{
    text-align: right;
    font-weight: bold;
    color: rgb(106, 105, 105);
}
table{
    margin-bottom: 70px;
}