<div class="col-12">

    <select name="categ" id="categ" (change)="selectProduct($event)" class="btn btn-danger">
        <option value="0" selected>all ..</option>
        <option value="222">tv</option>
        <option value="10702">mobile</option>
        <option value="444">radio</option>
        <option value="555">smart phone</option>
    </select>


    <app-child class="col-12" [categoryArr]="productsCategory"  (categorySellected)="getChildData($event)"></app-child>

    <table class="col-12" *ngIf="buyed">
        <h2 class="text-center alert-success"> cart data</h2>
        <tr>
            <th>photo</th>
            <th>name</th>
            <th>price</th>
            <th>quantity</th>
            <th>total</th>
        </tr>
        <tr class="data" *ngFor="let item of paid_Data_From_Child; let i=index" >
            <td><img [src]="item.img" alt="image" class="productImg"></td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>{{item.count}}</td>
            <td> {{result[i]}}</td>
        </tr> 
    </table>
    
    <div class="col-12">
        <h3>
            <span class="alert alert-success"> total price of cart</span>
            <span> : {{totalPrice}}</span>
        </h3>
    </div>
    
</div>

