<div class="col-12">
    <table class="col-12">
        <tr>
            <th>photo</th>
            <th>name</th>
            <th>price</th>
            <th>quantitiy</th>
            <th>count</th>
            <th>buy</th>
        </tr>
        <tr class="data" *ngFor="let item of categoryArrLab4; let i=index" >
            <td><img [src]="item.img" alt="image" class="productImg"></td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>{{item.quantity}}</td>
            <td>
                <form [formGroup]="formCount">
                    <input type="number" class="form-control" name="count" formControlName="count" (input)="makeChange(i,$event)">
                    <small class="text-danger" *ngIf="quantityInput[i] > item.quantity!"> the quantity  not allowed</small>
                </form>
            </td>
            <td>
                <button class="btn btn-info" (click)="buy(i)">buy</button>
            </td>
        </tr>
    </table>
</div>